*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/core/data/build/
/core/data/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/database/build/
/core/database/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/designsystem/build/
/core/domain/build/
/core/domain/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/core/model/build/
/core/navigation/build/
/core/network/build/
/core/network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/favorites/build/
/feature/favorites/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/signIn/build/
/feature/signIn/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/signUp/build/
/feature/signUp/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/user/build/
/feature/user/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/